@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    background-color: #303641;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}
/* exra */
#nav li{
    color:red;
    list-style: none;
    text-decoration: none;
    float:left;
    margin :10px;
    padding:5px;
    border:2px solid black;
    background-color: ff3;
}
/**/

#container-login {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 445px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-register {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    /*height: 480px;*/
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#title {
    /*clear:both;*/
    position: relative;
    background-color: #1A1C1D;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.lock {
	position: relative;
	top: 2px;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-addon {
    float: left;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    width: 30px;
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=text]:focus {
    border: 1px solid #373b3d;
}

input[type=password] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password]:focus {
    border: 1px solid #373b3d;
}

input[type=email] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=email]:focus {
    border: 1px solid #373b3d;
}

.forgot-password {
    position: relative;
    bottom: 0%;
}

.forgot-password a:link {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:visited {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #FFF;
    transition: color 1s;
}

.privacy {
    margin-top: 5px;
    position: relative;
    font-size: 12px;
    bottom: 0%;
}

.privacy a:link {
    color: #949494;
    text-decoration: none;
}

.privacy a:visited {
    color: #949494;
    text-decoration: none;
}

.privacy a:hover {
    color: #C1C3C6;
    transition: color 1s;
}

*:focus {
    outline: none;
}

.remember-me {
    margin: 10px 0;
}

input[type=submit] {
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
}

.clearfix {
    clear: both;
}

#register-link {
    margin-top: 10px;
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

/****** login and reg ******/
/*nav{
    height: 30%;
}
nav ul{
    list-style: none;
    text-decoration: none;
}
nav li{
    float:right;
    margin:20px;
}

nav a{
    background-color: #304651;
    color:white;
    background-color: 
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 0.4em;
}
a{
    text-decoration: none;
}
nav a:hover{
    border: 2px solid white;
    color:red;
}
nav span{
    color:white;
    background-color: 
    text-align: center;
    padding:10px;
    margin-right: 10px  
}
*/

/* navigation styles */
nav{
    height: 30%;
    /*margin:20px;*/
}
nav ul{
    list-style: none;
    text-decoration: none;
    /*text-transform: uppercase;*/
}
nav li{
    float:right;
    
    /*height: 30px;*/
    margin:20px;
    /*border: 1px solid white;*/
    /*text-decoration: none;*/
}
nav a{
    background-color: #304651;
    color:white;
    background-color: 
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 0.4em;
}
a{
    text-decoration: none;
}
nav a:hover{
    /*box-sizing: border-box;*/
    padding:9px;
    border: 2px solid white;
    /*box-shadow: 1px 1px white;*/
    color:red;

}
nav span{
    /*background-color: #304651;*/
    color:white;
    background-color: 
    text-align: center;
    padding:10px;
    margin-right: 10px  
}

/* home page heading h1 center alignment */
#title h1{
    text-align: center;
}

/* predict page title */
#predictTitle{
    /*font-family: 'times new roman' serif;*/
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#predictTitle span{
    /*font-family: 'times new roman' serif;*/
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
/* end predict page title */